




/* main */


.upcoming{
  color:red;
}


/* future coming  */

.travellingContainer{
  margin: 2rem 0;

}

.travellingSection{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  padding: 0 2rem;
}

.travellingBox{
  padding: 1rem;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.travellingBox:hover{
  box-shadow: 1px 1px 10px #ccc;
}


.more {
  text-align: right;
  margin-right: 1rem;
}


.profileImage{
  border-radius: 50%;
}
